$std-pad: 0.5rem;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: $std-pad;
  margin: 0;
}

footer {
  clear: both;
  border-top: 1px solid black;
  width: 100%;
  & .footer-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    @media all and(min-width: 40em) {
      grid-template-columns: 1fr 1fr;
    }
    max-width: 60em;
    margin: auto;
    & > div {
      padding: $std-pad;
    }
  }
}

main {
  max-width: 60em;
  margin: auto;
  padding: $std-pad;
}

ul {
  padding-left: 1em;
}

p,
ul,
img {
  margin-bottom: $std-pad * 2;
}

img {
  $max-image-width: 40em;
  float: left;
  overflow: hidden;
  margin-right: $std-pad;
  margin-bottom: $std-pad * 4;
  max-width: m#{i}n(100%, 30em);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  clear: both;
}

/* Header styles */

.home {
  padding: $std-pad;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  color: currentColor;
  text-decoration: none;
  font-weight: bold;
}

.home > sup {
  font-size: 14px;
  padding-left: 2px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav-item > a {
  padding: $std-pad;
  color: currentColor;
  text-decoration: none;
  font-weight: bold;
}

.nav-item-active {
  color: red;
}
