body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 0;
}

main {
  padding: 10px;
}

ul {
  padding-left: 1em;
}

/* Header styles */

.home {
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  color: currentColor;
  text-decoration: none;
  font-weight: bold;
}

.home > sup {
  font-size: 14px;
  padding-left: 2px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.nav-item > a {
  padding: 10px;
  color: currentColor;
  text-decoration: none;
  font-weight: bold;
}

.nav-item-active {
  color: red;
}
