---
layout: layouts/list.njk
permalink: '/posts/'
templateClass: template-posts-list
eleventyExcludeFromCollections: true
title: 'Artigos'
---

<ul class="posts">
  {%- for post in collections.posts | reverse %}
    <li>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </li>
  {%- endfor %}
</ul>