<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body>
    <header>
      <a class="home-link" href="{{ '/' | url }}">Psicoplast<sup>®</sup>
      </a>
      <nav>
        <ul class="nav">
          {%- for entry in collections.pages %}
            <li class="nav-item{% if entry.data.permalink == page.url %} nav-item-active{% endif %}">
              <a href="{{ entry.data.permalink | url }}">{{ entry.data.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>
    <main {% if templateClass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}
    </main>
    <footer>
      <div class="footer-wrapper">
        <div>
          <h2>Sobre</h2>
          <p>A Psicoplast é uma clínica de psicologia, cirurgia plástica e clínica médica em Porto Alegre, Rio Grande do Sul, que
            desde 1980 cuida da saúde do corpo e da mente de seus pacientes.</p>
        </div>
        <div>
          <h2>Contato</h2>
          <p>
            <a href="tel:+555133287666">(51) 3328-7666</a>
            e
            <a href="tel:+5551997129380">(51) 99712-9380</a>
          </p>
          <p>
            <a href="https://wa.me/5551997129380">WhatsApp</a>
          </p>
          <p></p>
          <p>
            Seg-Sex 08:30 às 17:00</p>
        </div>
        <div>
          <h2>Endereço</h2>
          <p>Praça Joaquim Leite, 39 <br/> Chácara das Pedras - Porto Alegre/RS</p>
          <a target="_blank" href="https://goo.gl/maps/DrF3961F9MaEEa2F8">Ver no mapa</a>
        </div>
        <div></footer>
      </body>
    </html>
  </body>
</html>