---
layout: layouts/base.njk
templateClass: template-home
---

<div class="home-text"><p>Desde 1980 cuidando da saúde do corpo e da mente de nossos pacientes</p></div>

<div class="home-nav">
  <a href="/cirurgia-plastica/" class="home-nav-cirurgia">Cirurgia Plástica</a>
  <a href="/psicologia/" class="home-nav-psico">Psicologia</a>
  <a href="/clinica-medica/" class="home-nav-clinica">Clínica Médica</a>
</div>

<div class="home-articles">
  <a href="/posts/">Artigos</a>
</div>