---
layout: layouts/base.njk
templateClass: template-page
---

<div class="title"><h1>{{title}}</h1></div>

{{ content | safe }}


<div class="call-us">
  Marque sua consulta pelo telefone
  <a href="tel:+555133287666">(51) 3328-7666</a>
  ou pelo WhatsApp da Psicoplast
  <a href="https://wa.me/5551997129380">(51) 99712-9380</a>
</div>
